<span class='from'>
  <%= @first.from %>
</span> : <span class='said'>
  <%= @first.body %>
</span>
</br>
<% @chains.each do |chain| %>
  <span class='from'>
    <%= chain.from %>
  </span> : <span class='said'>
    <%= chain.body %>
  </span>
  </br>
<% end %>

<script>
  var froms = document.getElementsByClassName('from');
</script>
