<% @messages.each do |message| %>
  <div class='entry'>
    <div class='message noselect'>
      <% if message.to != @user.username %>
        <div class='tag'>To: <span><%= message.to %></span></div>
      <% end %>
      <% if message.to == @user.username %>
        <div class='tag'>From: <span><%= message.from %></span></div>
      <% end %>
      <div class='tag'>Subject: <span><%= message.subject %></span></div>
      <div class='tag'>Message: <span><%= message.body%></span></div>
      <div class='tag' hidden><%= message.id %></div>
    </div>
    <%= button_to 'read', '/chain',
      form: {
        format: :js,
        remote: true
      },
      class: 'read',
      params: {
        root: message.id,
        username: @user.username
      }
    %>
  </div>
<% end %>

<script>
  var messages = document.getElementsByClassName('read');

  function read_message(event) {
    var tags = event.target.parentNode.parentNode.children[0].children;
    show_read();
  }

  for (var i = 0; i < messages.length; ++i)
    messages[i].addEventListener('click', read_message);
</script>
