<%= form_with scope: :message, url: '/message', local: true do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </br>
  <%= form.text_field :to, placeholder: 'to:' %>
  <%= form.text_field :subject, placeholder: 'subject:' %>
  <%= form.text_area :body, placeholder: 'body:' %>
  <%= form.hidden_field :from, value: @user.username %>
  <%= form.submit 'send' %>
<% end %>

<script>
  var nm = document.getElementById('new');
</script>
