<span class='shadow' hidden></span>
<div class='popup' hidden>
  <div class='close noselect'>x</div>
  <div id='new' hidden>
    <%= render 'messaging/new_message', locals: {
      message: @message,
      user: @user
    }%>
  </div>
  <div id='read' hidden>
    <%= render 'messaging/read_message', locals: {
      user: @user,
      chain: @chain,
      chains: @chains
    }%>
  </div>
</div>

<script>
  var shadow = document.getElementsByClassName('shadow')[0];
  var popup = document.getElementsByClassName('popup')[0];

  var close = document.getElementsByClassName('close')[0];
  close.addEventListener('click', () => {
    read.setAttribute('hidden', true);
    nm.setAttribute('hidden', true);
    shadow.setAttribute('hidden', true);
    popup.setAttribute('hidden', true);
  });

  function updatePopup() {
    var pw = body.offsetWidth - 500;
    var w = (pw/2);
    popup.style.marginLeft = w + 'px';
    popup.style.marginRight = w + 'px';
  }

  window.addEventListener('resize', updatePopup);
</script>
