<%= form_with scope: :chain, url: '/reply', local: true do |form| %>
  <label><%= @subject %></label>
  <div class='see'>
    <% if @chains != nil %>
      <%= render 'messaging/chain', locals: {chains: @chains, first: @first} %>
    <% end %>
  </div>
  <%= form.hidden_field :root, value: @chain.root %>
  <%= form.text_area :body, placeholder: 'reply' %>
  <%= form.hidden_field :from, value: @chain.from %>
  <%= form.submit 'send', style: 'float:right;margin-right:10px;' %>
<% end %>

<script>
  var read = document.getElementById('read');
</script>
