<%= render 'messaging/popup',
  locals: {
    messages: @messages,
    user: @user,
    chain: @chain
  } %>

<div id='top' class='top-bar noselect'><%= @user.username %></div>
<div id='inbox' class='inbox'>
  <%= render 'messaging/messages',
    locals: {
      messages: @messages,
      user: @user
  } %>
  <input id='new_message' type='button' value='new message' />
</div>

<script>
  var nm_button = document.getElementById('new_message');
  var body = document.body;

  function new_message() {
    shadow.removeAttribute('hidden');
    nm.removeAttribute('hidden');
    popup.removeAttribute('hidden');
  }

  function show_read() {
    shadow.removeAttribute('hidden');
    read.removeAttribute('hidden');
    popup.removeAttribute('hidden');
  }

  nm_button.addEventListener('click', new_message);
  updatePopup();
  if (froms.length != 0) show_read();
</script>
