<div id='login' class='login'>
  <div class='tabs'>
    <div id='signin' class='tab noselect active'>sign in</div>
    <div id='signup' class='tab noselect'>sign up</div>
  </div>
  <div id='signin-form'>
    <%= form_with scope: :user, url: '/signin', local: true do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <label class='noselect'>username</label>
      <%= form.text_field :username %>
      <label class='noselect'>password</label>
      <%= form.password_field :password %>
      <%= form.submit 'login' %>
    <% end %>
  </div>
  <div id='signup-form' hidden>
    <%= form_with scope: :user, url: '/signup', local: true do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <label class='noselect'>username</label>
      <%= form.text_field :username %>
      <label class='noselect'>password</label>
      <%= form.password_field :password %>
      <label class='noselect'>confirm password</label>
      <%= form.password_field :password_confirmation %>
      <%= form.submit 'create account' %>
    <% end %>
  </div>
</div>

<script>
  var si = document.getElementById('signin');
  var su = document.getElementById('signup');

  function signin() {
    su.classList.remove('active');
    si.classList.add('active');

    var siform = document.getElementById('signin-form');
    var suform = document.getElementById('signup-form');

    suform.setAttribute('hidden', true);
    siform.removeAttribute('hidden');
  }

  function signup() {
    si.classList.remove('active');
    su.classList.add('active');

    var siform = document.getElementById('signin-form');
    var suform = document.getElementById('signup-form');

    siform.setAttribute('hidden', true);
    suform.removeAttribute('hidden');
  }

  si.addEventListener('click', signin);
  su.addEventListener('click', signup);
</script>
