html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: silver;
  text-align: center;
}

input {
  height: 65px;
  width: 450px;
  text-align: center;
  border-radius: 15px;
  font-size: 30px;
}

input[type=button] {
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 480px;
  min-height: 200px;
  outline: none;
  border: 1px grey solid;
  border-radius: 5px;
  background-color: white;
  color: tomato;
  overflow-y: auto;
  font-size: 30px;
  resize: none;
}

#error_explanation {
  color: red;
  border: 1px red solid;
  border-radius: 15px;
  font-size: 20px;
  width: 450px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.login {
  min-height: 300px;
  width: 475px;
  border-radius: 15px;
  border: 1px silver solid;
  box-shadow: 0px 0px 10px #888888;
  background-color: white;
  margin-top: 75px;
}

.login input {
  height: 65px;
  width: 450px;
  text-align: center;
  border-radius: 15px;
  font-size: 30px;
}

.login input[type=submit] {
  background-color: tomato;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login input[type=password] {
  border: 1px silver solid;
  background-color: white;
  color: tomato;
  outline: none;
}

.login input[type=text] {
  border: 1px silver solid;
  background-color: white;
  color: tomato;
  outline: none;
}

.login input[type=text]:focus {
  border-color: tomato;
}

.login input[type=password]:focus {
  border-color: tomato;
}

.login .tabs {
  border-bottom: 1px silver solid;
  min-height: 70px;
  margin-bottom: 10px;
  text-align: left;
}

.login .tabs .tab {
  padding: 20px 54px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.login .active {
  color: tomato;
  border-bottom: 2px tomato solid;
}

.top-bar {
  background-color: tomato;
  color: white;
  padding: 5px 0px;
}

.inbox {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80%;
}

.entry {
  border: 1px tomato solid;
  border-top: none;
  text-align: left;
  padding: 10px;
}

.message {
  font-size: 25px;
  text-align: left;
  display: inline-block;
}

.tag span {
  color: tomato;
  max-width: 200px;
  overflow: hidden;
}

.entry input[type=submit] {
  width: 90px;
  background-color: tomato;
  color: white;
  float: right;
}

.button_to {
  max-width: 100px;
  float: right;
  margin-top: 15px;
}

.inbox input[type=button] {
  background-color: tomato;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shadow {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100%;
  background-color: black;
  opacity: 0.5;
}

.popup {
  width: 500px;
  position: fixed;
  color: white;
  background-color: silver;
  border: 1px grey solid;
  border-radius: 15px;
  margin-top: 65px;
}

.popup label {
  font-size: 30px;
  margin-left: 10px;
}

.popup input[type=text] {
  outline: none;
  border: 1px grey solid;
  border-radius: 5px;
  background-color: white;
  color: tomato;
  height: 40px;
  font-size: 30px;
  width: 230px;
}

.popup input[type=text]:focus {
  border-color: tomato;
}

.popup input[type=submit] {
  width: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: tomato;
  color: white;
}

#read { text-align: left; }

#read textarea {
  width: 375px;
  min-height: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.popup .see {
  width: 460px;
  margin-left: 10px;
  overflow-y: auto;
  background-color: white;
  color: black;
  border: 1px grey solid;
  border-radius: 10px;
  font-size: 20px;
  min-height: 280px;
  padding: 10px;
}

.see .from {
  color: tomato;
}

.see .said {
  color: silver;
}

.popup .close {
  float: right;
  margin-top: -5px;
  margin-right: 9px;
  cursor: pointer;
}

.popup .close:hover {
  color: grey;
}
